<style>
            .footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color:#2d4b64;
  color: white;
  text-align: center;
  opacity: 0.7;
}
      #bottomDweller {
    position: absolute;
    bottom: 0;
    align-items: left;
    }
      .footitem{
        align-items: right;
      }
      .foottext{
        text-align: left;
      }
      .nolink{
        color:white;
        text-align: right;
      }
      .fa {
  padding: 10px;
  font-size: 30px;
  width: 45px;
  text-align: right;
  text-decoration: none;
  margin: 5px 5px;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background:#2d4b64;
  color:white;
}

.fa-instagram {
  background:#2d4b64;
  color:white;
}
        .grid {
  margin-left: auto;
  margin-right: auto;
  max-width: 48em;
  width: 90%;
}

/* helpers/sticky.css */

.sticky {
  position: sticky;
  will-change: transform;
}

.sticky--top {
  top: 0;
}

/* layout/base.css */

* {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  height: 100%;
}

body {
  font-family: 'Roboto', sans-serif;
  line-height: 1.75;
  margin: 0;
  min-height: 100%;
}

/* layout/header.css */

.header {
  background-color: #fff;
  padding-bottom: 1em;
  padding-top: 1em;
}


.header::after {
  bottom: 0;
  box-shadow: 0 0.0625em 0.5em rgba(0, 0, 0, 0.3);
  content: '';
  left: 0;
  opacity: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: opacity 0.3s;
  z-index: -1;
}

.header.is-active::after {
  opacity: 1;
}

/* layout/main.css */

.main {
  padding-top: 6em;
  padding-bottom: 6em;
}

/* modules/headline.css */

h1 {
  margin-bottom: 1.5em;
  margin-top: 0;
}

/* modules/navigation.css */

.navigation a {
  color: inherit;
  display: block;
  text-decoration: none;
  align-content: center;
}

.navigation .is-active {
  background-color: #000;
  color: #fff;
  padding-left: 1em;
  padding-right: 1em;
  border-radius: 999px;
}

.navigation__list {
  list-style: none;
  margin: -0.5em;
  padding: 0;
}

.navigation__list--inline {
  display: flex;
  align-items: center;    
}

.navigation__item {
  margin: 0.5em;
}


.row {
  display: flex;
}

.column {
  flex: 50%;
}


/* modules/paragraph.css */

p {
  margin-bottom: 1.5em;
  margin-top: 1.5em;
}
    </style>